*, body {
  font-family: 'Roboto', sans-serif !important;
}
h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Quicksand', sans-serif !important;
}

/*richtext std */
.std h1 {
  font-size: 2.4em;
}
.std h2 {
  font-size: 2.2em;
}
.std h3 {
  font-size: 2em;
}
.std h4 {
  font-size: 1.8em;
}
.std h5 {
  font-size: 1.65em;
}
.std h6 {
  font-size: 1.5em;
}
.std p {
  font-size: 1.3em;
  margin-bottom: 1em;
}
.std img {
  width: 100%;
  height: auto;
}
/* end richtext std */

.btn.btn-primary {
  background-color: #CD8B76;
}
.btn.btn-primary:hover {
  background-color: #E1D89F;
}
